.header img {
    width: 100px;
    float: left;  
}

.header h1 {
    font-size: 50px;
    font-family: cursive;
    color: rgb(18, 137, 167); 
    text-indent: 05%;
    top: 25px
}

table {
    float: left;
}

table, th, td {
    border: 2px solid rgb(18, 137, 167);
}

th, td {
    padding: 7px;
}

.Box
    {
    float: right;
    padding: 1%;
    width: 68%;
    border: 2px solid rgb(18, 137, 167);
    margin-bottom: 0%;
}

body {
    font-family: "Century Gothic";
    background-image: url("Background.png");
}

label {
    cursor: pointer;
}

input[type=text]:hover{
    border: 2px solid rgb(18, 137, 167);
    
}

input[type=text]:focus{
    border: 2px solid rgb(18, 137, 167);
}

input[type=submit]:hover{
    border: 2px solid rgb(18, 137, 167);
}

input[type=reset]:hover{
    border: 2px solid rgb(18, 137, 167);

}
select[id=year]:hover{
    border: 2px solid rgb(18, 137, 167); 
}