.header img {
    width: 80px;
    float: left;  
}

.header h1 {
    font-size: 40px;
    font-family: cursive;
    color: rgb(18, 137, 167); 
    text-indent: 05%;
    top: 15px;
}

table {
    float: left;
}

table, th, td {
    border: 2px solid rgb(18, 137, 167);
}

th, td {
    padding: 7px;
}

.Box
    {
    float: right;
    padding: 0.3%;
    width: 66%;
    border: 2px solid rgb(18, 137, 167);
    margin-top: -5%;
}
.Results
    {
        background-color: aqua;
        border: 2px solid black;
        padding: 0.4%

 }


body {
    font-family: "Century Gothic";
    font-size: 17.5px;
    background-image: url("Background.png");
    padding: 0px 30px;
}

label {
    cursor: pointer;
}

input[type=text]:hover{
    border: 2px solid rgb(18, 137, 167);
    
}

input[type=text]:focus{
    border: 2px solid rgb(18, 137, 167);
}

input[type=submit]:hover{
    border: 2px solid rgb(18, 137, 167);
}

input[type=reset]:hover{
    border: 2px solid rgb(18, 137, 167);
}

select[id=year]:hover{
    border: 2px solid rgb(18, 137, 167); 
}

h2 {
    color: solid rgb(18, 137, 167); 
}
